In [3]:
import pandas as pd # importing the pandas library
data = pd.read_csv("Datasets/melb_data.csv") # reading the csv file using pandas
data # display

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [71]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  int32
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(11), int32(1), int64(1), object(8)
memory usage: 2.1+ MB

In [9]:
isNull = pd.isna(data["BuildingArea"])
isNull

0         True
1        False
2        False
3         True
4        False
         ...
13575     True
13576    False
13577     True
13578    False
13579    False
Name: BuildingArea, Length: 13580, dtype: bool

In [10]:
isNull.dtypes

dtype('bool')

In [65]:
data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [3]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [12]:
data.shape

(13580, 21)

In [13]:
data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [50]:
val = data[data['Car']>2.0]
val.sort_values(by='Car')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
7829,Fawkner,29 Jennifer St,3,h,741000.0,S,Peter,8/04/2017,12.4,3060.0,...,1.0,3.0,578.0,128.0,1960.0,Moreland,-37.69660,144.96950,Northern Metropolitan,5070.0
8093,Moonee Ponds,31 Pattison St,4,h,1531000.0,S,Rendina,6/05/2017,6.9,3039.0,...,2.0,3.0,508.0,NaN,NaN,Moonee Valley,-37.77090,144.93380,Western Metropolitan,6232.0
8097,Moonee Ponds,99 Eglinton St,4,h,1940000.0,PI,Frank,8/04/2017,6.9,3039.0,...,2.0,3.0,675.0,228.0,1920.0,Moonee Valley,-37.76860,144.91200,Western Metropolitan,6232.0
8100,Moonee Ponds,109 Waverley St,4,h,1515000.0,S,Nelson,8/04/2017,6.9,3039.0,...,2.0,3.0,574.0,203.0,1910.0,Moonee Valley,-37.76440,144.90610,Western Metropolitan,6232.0
8110,Moonee Ponds,25 George St,4,h,955000.0,S,Woodards,29/04/2017,6.9,3039.0,...,2.0,3.0,431.0,246.0,1910.0,Moonee Valley,-37.76150,144.90940,Western Metropolitan,6232.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,Maribyrnong,12 Newstead St,4,h,1900000.0,VB,Nelson,17/09/2016,8.7,3032.0,...,3.0,8.0,865.0,374.0,2013.0,Maribyrnong,-37.76820,144.89710,Western Metropolitan,4918.0
8963,Surrey Hills,1093 Riversdale Rd,3,h,2100000.0,VB,Jellis,1/07/2017,10.2,3127.0,...,1.0,9.0,841.0,124.0,1960.0,Whitehorse,-37.83729,145.10929,Southern Metropolitan,5457.0
11642,Dandenong,1462 Heatherton Rd,3,h,880000.0,S,Barry,22/07/2017,24.7,3175.0,...,2.0,10.0,734.0,NaN,NaN,Greater Dandenong,-37.96969,145.21043,South-Eastern Metropolitan,10894.0
9423,Bayswater,95 Orange Gr,4,h,925000.0,SP,Biggin,17/06/2017,23.2,3153.0,...,1.0,10.0,993.0,128.0,1966.0,Knox,-37.84688,145.25632,Eastern Metropolitan,5030.0
13527,Reservoir,1 Don St,4,h,1112000.0,S,RW,26/08/2017,12.0,3073.0,...,2.0,10.0,1002.0,170.0,1985.0,NaN,-37.70671,145.03086,Northern Metropolitan,21650.0

In [51]:
cars = data["Car"]
cars.describe()

count    13518.000000
mean         1.610075
std          0.962634
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         10.000000
Name: Car, dtype: float64

In [45]:
data['Bathroom'].astype('int64').dtypes

dtype('int64')

In [59]:
data['Bathroom'] = data['Bathroom'].astype('int')
data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom           int32
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [73]:
data['Bathroom']

0        1
1        1
2        2
3        2
4        1
        ..
13575    2
13576    2
13577    2
13578    1
13579    1
Name: Bathroom, Length: 13580, dtype: int32

In [67]:
data.iloc[9:25,2:15]

,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea
9,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,3.0,1,2.0,220.0,75.0
10,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,2.0,2,1.0,0.0,NaN
11,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,3.0,2,2.0,214.0,190.0
12,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,2.0,2,1.0,0.0,94.0
13,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,2.0,1,1.0,195.0,NaN
14,1,u,441000.0,SP,Greg,14/05/2016,2.5,3067.0,1.0,1,1.0,0.0,NaN
15,2,h,1310000.0,S,Jellis,15/10/2016,2.5,3067.0,2.0,1,2.0,238.0,97.0
16,3,h,1200000.0,S,Jellis,16/07/2016,2.5,3067.0,3.0,2,1.0,113.0,110.0
17,3,h,1176500.0,S,LITTLE,16/07/2016,2.5,3067.0,2.0,1,1.0,138.0,105.0
18,3,h,955000.0,S,Collins,17/09/2016,2.5,3067.0,3.0,1,0.0,183.0,NaN
19,2,h,890000.0,S,Biggin,17/09/2016,2.5,3067.0,2.0,1,1.0,150.0,73.0
20,4,h,1330000.0,PI,Kay,18/03/2017,2.5,3067.0,4.0,2,2.0,780.0,135.0
21,3,t,900000.0,S,Beller,18/03/2017,2.5,3067.0,3.0,2,2.0,0.0,NaN
22,3,u,1090000.0,S,Jellis,18/03/2017,2.5,3067.0,3.0,2,2.0,4290.0,27.0
23,2,u,500000.0,S,Collins,18/06/2016,2.5,3067.0,2.0,1,1.0,0.0,60.0
24,2,h,1100000.0,PI,Biggin,18/06/2016,2.5,3067.0,2.0,2,1.0,124.0,135.0

In [69]:
data['Method'].unique()

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

In [4]:
data['Type'].unique()

array(['h', 'u', 't'], dtype=object)

In [5]:
data['Type'].replace(['h','u','t'],[0,1,2])

0        0
1        0
2        0
3        0
4        0
        ..
13575    0
13576    0
13577    0
13578    0
13579    0
Name: Type, Length: 13580, dtype: int64

In [9]:
data['Method'].replace(['S','SP','PI','VB','SA'],[0,1,2,3,4],inplace=True)

In [10]:
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,0,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,0,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,1,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,2,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,3,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,0,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,1,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,0,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,2,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,1,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0